.trashBtn{
    background-color: transparent;
    color: red;
    border: none;
}
.checkBtn{
    background-color: transparent;
    color: green;
    border: none;
}
.check{
    text-decoration: line-through;
    color: rgb(108, 108, 108);
    font-style: italic;
}